<template>
 <div>
   <div class="container">
   <ol class="breadcrumb">
<li class="breadcrumb-item">
  <router-link to="/hobbies/view">Hobbies</router-link>
</li>
  <li  class="breadcrumb-item active">Add</li>
</ol>

<h1 >Add Hobby</h1>
<v-text-field v-if="!error"
  label="Your Hobby" v-model="hobby"  required :rules="[required]">
</v-text-field>
   <div class="err" v-html="error"/>
   <button type="button" class="btn btn-primary"  v-if="!error" @click="addHobby">Add Hobby</button>


   </div>
 </div>
</template>

<script>
import HobbyService from '@/services/HobbyService'

export default {
  data () {
    return {
      hobby: '',
      error: null,
     required: (value) => !!value || 'Required.'
     }
  },
  mounted () {
    try {
        if ( !this.$store.state.isUserLoggedIn) 
          this.error = 'You are not Logged In'
        
      } catch (error) {
        this.error = error.response.data.error
        console.log(error);
      }
  },
  methods: {
    async addHobby () {
      this.error = null
      if (!this.hobby) {
        this.error = 'Please Enter a your Hobby'
      }
      try {
           const reply = await HobbyService.addHobby({
             userId: this.$store.state.user.id,
             username: this.$store.state.user.username,
             userEmail: this.$store.state.user.email,
             hobby: this.hobby,
             phoneNumber: this.$store.state.user.phoneNumber
           });
 
            if (reply) {
          this.$router.push('/hobbies/view')
        }

      } catch (error) {
        if (error.response.data.error = 'TokenExpires') {
          this.$store.dispatch('setToken', null)
          alert('Kindly Login. Session Expired')
          this.$router.push('/home')
        }
        console.log(error, 80)
      }
    }
  }
  }
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color:red
}
</style>
