<template>
 <div>
   <h1 >Browse Users and Their Hobbies</h1>
  <table class="table table-striped" v-if="!error && hobbies">
    <thead>
      <tr>
        <th>Index</th>
        <th>UserName</th>
        <th>Hobby</th>
    </tr>
    </thead>
    <tbody>
        <tr v-for="(hobby, index) of hobbies"
          :key="index">
          <td>{{index + 1}}</td>
          <td>{{hobby.username}}</td>
          <td>{{hobby.hobby}}</td>
        </tr>
    </tbody>
  </table>
  <img src="../assets/loading.png" v-else  width="60" alt="">
 </div>
</template>

<script>
import HobbyService from '@/services/HobbyService'
export default {
  data () {
    return {
      hobbies: null,
      error: null,
     }
  },
  async mounted () {
    try {
      this.hobbies= (await HobbyService.viewAllHobby()).data;
    } catch (error) {
      this.error = error.response.data.error
      console.log(error);
    }
  },
  methods: {
  
  },
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color:red
}
</style>
