<template>
<v-layout align-center justify-center>
    <v-content >
      <div class="err" v-html="error"/> 
      <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="/hobbies/view">Hobbies</router-link>
      </li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
   
      <v-flex offset-md3 xs6>
        <v-card class="elevation-12">
          <v-toolbar dark color="brown">
            <v-toolbar-title>Edit Hobby</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                label="Edit Hobby"
                type="text"
                v-model="editedhobby"
              ></v-text-field>
            
              <br>
              <v-btn 
              dark
              class="brown"
              @click="submit">Submit</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>

    </v-content>
</v-layout>

</template>

<script>
import HobbyService from '@/services/HobbyService'

export default {
  data () {
    return {
      editedhobby: null,
      error: null
     }
  },
  async mounted () {
    try {
      if (this.$store.state.isUserLoggedIn) {
        this.editedhobby = (
          await HobbyService.fetchEditHobby(this.$store.state.route.params.id)).data.hobby
      } else {
        this.error = 'You are not Logged In'
      } 
 
    } catch (error) {
      this.error = error.response.data.error
      console.log(error);
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$store.state.isUserLoggedIn) {
          await HobbyService.updateHobby({editedHobby: this.editedhobby}, this.$store.state.route.params.id)
          this.$router.push('/hobbies/view')

        } else {
          this.error = 'You are not Logged In'
        }

      } catch (error) {
        // this.error = error.response.data.error
        console.log(error)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color:red
}
</style>
