<template>
 <nav class="navbar navbar-expand-sm navbar-dark bg-primary md-4">
      <router-link class="navbar-brand"  to="/home">HobbyBase</router-link>
      <router-link class="navbar-brand"  to="/browse">Browse</router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" v-if="$store.state.isUserLoggedIn">
          <li class="nav-item active">
            <router-link class="nav-link"  to="/home">Home</router-link>
              <span class="sr-only">(current)</span>
            <!-- </a> -->
          </li>
          <li class="nav-item">
            <router-link class="nav-link"  to="/hobbies/view">View</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link"  to="/hobbies/add">Add</router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link"  @click="signOut">Sign Out</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" v-else>
          <li class="nav-item active">
            <router-link class="nav-link"  to="/register">Register</router-link>
              <span class="sr-only">(current)</span>
            <!-- </a> -->
          </li>
          <li class="nav-item">
            <router-link class="nav-link"  to="/signIn">Sign In</router-link>
          </li>
        </ul>
      </div>
    </nav>
</template>

<script>
import HobbyService from '@/services/HobbyService'
export default {
  data () {
    return {
     }
  },
  methods: {
    signOut () {
      this.$store.dispatch('setToken', null);
      this.$store.dispatch('setUser', null);
      this.$store.dispatch('setHobbies', null);
      this.$router.push('/signOut') 
    },
    
  },

  }
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .browse {
   color: white !important;
   cursor: pointer !important;
   font-size: 20px
 }
</style>
