<template>
 <div>
    <h1>Welcome to HobbyBase</h1>
    <p class="mb-4">This is a Sails JS app for managing Hobbies</p>
    <router-link class="btn btn-light"  to="/hobbies/view">View Hobbies</router-link>
    <router-link class="btn btn-light"  to="/hobbies/add">Add Hobbies</router-link>
 </div>
</template>

<script>

export default {
  data () {
    return { }
  }
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
