<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md6>
            <v-card class="elevation-12">
              <v-toolbar dark color="cyan">
                <v-toolbar-title>Register</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Username"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    type="email"
                    v-model="email"
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                  <v-text-field
                    label="Phone Number"
                    type="number"
                    v-model="phoneNumber"
                  ></v-text-field>
                
                  <br>
                  <v-btn 
                  dark
                  class="cyan"
                  @click="register">Register</v-btn>
                  <v-flex class="err" v-html="error"/>
                  <img src="../assets/loading.png" v-if="loading" width="50" alt=""> 
                </v-form>
              </v-card-text>
            </v-card>                        
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>





<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      username: '',
      phoneNumber: '',
      error: null,
      success: null,
      loading: false
     }
  },
  methods: {
    async register () {
      this.loading = true;
       try {
         const reply = await AuthenticationService.register({
          email: this.email,
          password: this.password,
          username: this.username,
          phoneNumber: '+234' + this.phoneNumber.toString()
          });
          if (reply) {
          this.$router.push('SignIn') 
          } 

        this.success = 'Submission Completed.'
      } catch (error) {
        this.error = error.response.data.error
      }
     
    }
  }
  
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color: red
}
</style>
