<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md6>
            <v-card class="elevation-12">
              <v-toolbar dark color="brown">
                <v-toolbar-title>You have Logged Out</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <router-link class="btn btn-dark"  to="/signIn">Click to Login</router-link>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>





<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
     }
  },
  methods: {
    async login () {
      try {
        const reply = await AuthenticationService.login({
          email: this.email,
          password: this.password
        });
        console.log(reply)
        this.$store.dispatch('setToken', reply.data.token)
        this.$store.dispatch('setUser', reply.data.user)

        this.$router.push('Home') 
        
      } catch (error) {
        this.error = error.response.data.error
        console.log(error.response.data.error, 9)
      }
    }
  }
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
