<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md6 >
            <v-card class="elevation-12">
              <v-toolbar dark color="brown">
                <v-toolbar-title>Sign In</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Username"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                  <br>
                  <v-btn 
                  dark
                  class="brown"
                  @click="login">Login</v-btn>
                  <v-flex class="err" v-html="error"/>
                  <img src="../assets/loading.png" v-if="loading" width="50" alt="">            
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>





<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      username: '',
      password: '',
      loading: false,
      error: null
     }
  },
  methods: {
    async login () {
        this.loading = true;
      try {
        const reply = await AuthenticationService.login({
          username: this.username,
          password: this.password
        });
        console.log(reply)
        this.$store.dispatch('setToken', reply.data.token)
        this.$store.dispatch('setUser', reply.data.user)
        this.$router.push('Home') 
        
      } catch (error) {
        this.error = error.response.data.error
        console.log(error)
      }
    }
  }
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color:red
}
</style>
