<template >
<v-layout align-center justify-center>
  <v-flex xs9>
    <h1 >Hobbies</h1>
    <div class="err" v-html="error"/>
    <table class="table table-striped" v-if="!error && hobbies">
      <thead>
        <tr>
          <th>#</th>
          <th>Hobby</th>
          <th>Actions</th>
      </tr>
      </thead>
      <tbody>
          <tr v-for="(hobby, index) of hobbies"
            :key="index">
            <td>{{index + 1}}</td>
            <td>{{hobby.hobby}}</td>
            <td>
              <a class="btn btn-primary" @click="editHobby(hobby.id)">Edit</a>
              <a class="btn btn-danger" @click="deleteHobby(hobby.id)">Delete</a>
            </td>
          </tr>
      </tbody>
    </table>
    <img src="../assets/loading.png" v-else  width="60" alt="">
  </v-flex>
</v-layout>

</template>

<script>
import HobbyService from '@/services/HobbyService'

export default {
  data () {
    return {
      hobbies: null,
      error: null
     }
  },
   async mounted () {
      try {
        if (this.$store.state.isUserLoggedIn) {
            this.hobbies = (await HobbyService.viewHobbyByUser(this.$store.state.user.id)).data;
        } else {
          this.error = 'You are not Logged In'
        } 
      } catch (error) {
        if (error.response.data.error === 'TokenExpires') {
          this.$store.dispatch('setToken', null)
          alert('Kindly Login. Session Expired')
          this.$router.push('/home')
        }
        console.log(error, 80)
      }
  },
  methods: {
    editHobby (index) {
      try {
        if ( this.$store.state.isUserLoggedIn) {
        this.$router.push(`/hobbies/edit/${index}`)
        } else {
            this.error = 'You are not Logged In'
        } 
      } catch (error) {
        if (error.response.data.error === 'TokenExpires') {
          this.$store.dispatch('setToken', null)
          alert('Kindly Login. Session Expired')
          this.$router.push('/home')
        }
        console.log(error, 80)
      }
    },
    async deleteHobby (index) {
      try {
        if ( this.$store.state.isUserLoggedIn) {
           const reply = (await HobbyService.deleteHobby(index)).data;
           if (reply) {
             this.hobbies = (await HobbyService.viewHobbyByUser(this.$store.state.user.id)).data; 
           }
         } else {
           this.error = 'You are not Logged In'
         } 
      } catch (error) {
        if (error.response.data.error === 'TokenExpires') {
          this.$store.dispatch('setToken', null)
          alert('Kindly Login. Session Expired')
          this.$router.push('/home')
        }
        console.log(error, 80)
      }
    }
  },

}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.err{
  color:red
}
</style>
