<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="/hobby/list">Hobbies</a>
</li>
  <li class="breadcrumb-item active">Add</li>
</ol>

<h1 class="display-4">Add Hobby</h1>

<form action="/hobby/create" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" class="form-control"></textarea>
  </div>
  
  <input type="submit" value="Submit" class="btn btn-primary">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" >
</form>