<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="/hobby/list">Hobbies</a>
</li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<h1 class="display-4">Edit Hobby</h1>

<form action="/hobby/update/<%= hobby.id %>" method="post">
  <div class="form-group">
    <label for="title">Title</label>
<input type="text" name="title" value="<%= hobby.title%>" class="form-control">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
<textarea name="body" class="form-control">
<%= hobby.body%>
</textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>