<h1 class="display-4">Hobbies</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <% hobbies.forEach(function(hobby){ %>
      <tr>
        <td><%= hobby.id %></td>
        <td><%= hobby.title %></td>
        <td>
          <a href="/hobby/edit/<%= hobby.id %>" class="btn btn-primary">Edit</a>
          <form method="post" class="d-inline" action="/hobby/delete/<%= hobby.id %>">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    <%})%>
  </tbody>
</table>